<p style="color: green"><%= notice %></p>

<h1>Profile</h1>

<div id="profile">

</div>

<%= link_to "Authors", authors_path %>
<%= link_to "AuthorPosts", author_posts_path %>
<%= link_to "Subscribers", subscribers_path %>
<%= link_to "AuthorsSubscribers", author_subscribers_path %>
